* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    min-height: 100vh;
}

.nav-container {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid rgb(126, 124, 124);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

.left-navbar {
    margin-left: 30px;
}

.right-navbar {
    margin-right: 30px;
}

.left-navbar ul,
.logo ul,
.right-navbar ul {
    list-style: none;
}

.left-navbar img {
    height: 25px;
    vertical-align: middle;
}

.logo img {
    height: 25px;
    vertical-align: middle;
}

.right-navbar img {
    vertical-align: middle;
}

.right-navbar li {
    display: inline-block;
    padding: 0px 20px;
}

#side-bar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    opacity: 0;
}

#side-bar.active {
    opacity: 1;
    pointer-events: auto;
}

.side-container {
    margin-top: 35px;
    margin-left: 20px;
}

.close-button {
    margin-top: 10px;
    margin-right: 15px;
}

.side-container ul {
    list-style: none;
}

.side-container ul li {
    padding: 17px 0px;
}

.side-container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.6px;
    color: white;
}

.close-button ul {
    list-style: none;
}

.close-button ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.product-description{
    border: 1px solid red;
    margin-top: 55px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.description{
    position: relative;
    margin-top: 200px;
    width: 30%;
    height: 750px;
    border: 1px solid blue;
    margin-left: 20px;
}
.header{
    margin: 10px;
    text-align: left;
}
.header p{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: bold;
}
.product-details{
    display: block;
}
.product-detailsheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.product-detailsheader p{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-left: 3px;
    font-weight: bold;
}
.product-detailsheader button{
    border: none;
    outline: none;
    background-color: white;
    margin-right: 6px;
    cursor: pointer;
}
.desc{
    margin-left: 15px;
    background-color: white;
    margin-bottom: 30px;
}
.desc li{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-left: 3px;
}
.size-guides{
    border: 1px solid red;
    width: 100%;
    height: 300px;
    display: block;
}
.sizeguide-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sizeguide-header p{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-left: 3px;
    margin-left: 3px;
    font-weight: bold;
}
.sizeguide-header button{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    vertical-align: bottom;
    height: 11px;
    margin-right: 6px;
}
.size-brief p{

    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.6px;
    margin-left: 3px;
    margin-left: 3px;
}