*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    min-height: 100vh;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    border-bottom: 0.1px solid black;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.left-navbar{
    margin-left: 30px;
}
.right-navbar{
    margin-right: 30px;
}
.left-navbar ul, 
.logo ul,
.right-navbar ul{
    list-style: none;
}
.left-navbar img{
    height: 25px;
    vertical-align: middle;
}
.logo img{
    height: 25px;
    vertical-align: middle;
}
.right-navbar img{
    height: 18px;
    vertical-align: middle;
}
.right-navbar li{
    display: inline-block;
}
.right-navbar li a{
    padding: 0px 20px;
}
#side-bar{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    background-color: #5D5D5D;
    backdrop-filter: blur(-50px);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}
#side-bar.active{
    opacity: 1; 
    pointer-events: auto;
}
.side-container{
    margin-left: 30px;
    margin-top: 40px;
}
.side-container ul,.close-button ul{
    list-style: none;
}
.side-container ul li{
    display: block;
    padding: 16px 0px;
}
.side-container ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.close-button{
    margin-right: 30px;
    margin-top: 10px;
}
.close-button ul li a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}
.form-container{
    margin-top: 100px;
    width: 550px;
    height: 450px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-60%);
}
.form-header{
    margin-top: 10px;
    width: 100%;
    height: 25px;
}
.form-header p{
    text-transform: uppercase;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.7px;
}
.form-body{
    margin-top: 10px;
    width: 85%;
    height: 400px;
}
.form-wrapper{
    position: relative;
}
.form-body input{
    width: 100%;
    padding: 14px 12px;
    border: none;
    border-bottom: 0.1px solid black;
    background-color: white;
    outline: none;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
}
.form-body label{
    position: absolute;
    left: -2px;
    top: 18px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0.6px;
    transition: all 0.3s ease;
}
.form-body input:focus + label,
.form-body input:not(:placeholder-shown) + label{
    top: -10px;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.6px;
}
.forgot-password{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 35px;
    text-align: center;
}
.forgot-password ul{
    list-style: none;
}
.forgot-password ul li a{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
    cursor: pointer;
}
.button-container{
    width: 100%;
}
.button-container button{
    display: block;
    margin-bottom: 40px;
}
#signin{
    width: 100%;
    padding: 18px 12px;
    border: 0.1px solid black;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
#create{
    width: 100%;
    padding: 18px 12px;
    background-color: transparent;
    border: 0.1px solid black;
    transition: all 0.5s ease-in-out;
}
#create:hover{
    background-color: black;
    color: white;
}
#create a{
    text-decoration: none;
    text-transform: uppercase;
    color:black;
}
#create:hover a{
    color: white;
}