*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("../../Images/JUNE_W5_HOMEPAGE_DESKTOP_4000x2250_1_3000x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.left-navbar{
    margin-left: 30px;
}
.right-navbar{
    margin-right: 30px;
}
.logo{
    position: fixed;
    left: 42%;
}
.left-navbar ul, .logo ul,.right-navbar ul{
    list-style: none;
}
.left-navbar img, .logo img,.right-navbar img{
    height: 20px;
    vertical-align: middle;
}
.right-navbar ul li{
    display: inline-block;
    padding: 0px 6px;
}
#side-bar{
    width: 350px;
    height: 100vh;
    z-index: 1000;
    background:linear-gradient(180deg,rgba(111, 111, 108,0.3),rgb(8, 8, 8));
    display: flex;
    justify-content: space-between;
    position: fixed;
    backdrop-filter: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.45s ease-in-out;
}
#side-bar.active{
    opacity: 1;
    pointer-events: auto; 
}
 .left-container{
    width: 95%;
    height: 100vh;
 }
.side-container{
    margin-top: 40px;
    margin-bottom: 10px;
}
.close-button{
    margin: 20px;
}
.side-container ul, .close-button ul{
    list-style: none;
}
.side-container ul li{
    display: block;
    padding: 12px 10px;
}
.side-container ul li a{
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 20px;
    color: white;
    cursor: pointer;
}
.close-button a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.news-letter{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.news-letter input{
    padding: 8px;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}
.news-letter input::placeholder{
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}
.news-letter button{
    position: absolute;
   top: 38%;
   right: 0;
   padding: 8px;
   width: 100px;
   border: none;
   background-color:transparent;
   color: white;
   text-transform: uppercase;
   font-size: 10px;
}
.shipping-info{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shipping-info p{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.shipping-info button{
    outline: none;
    border: none;
    font-size: 13px;
    background-color: rgba(27,29,30,0.5);
    cursor: pointer;
}
.time-container{
    width: 350px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    color: black;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li{
    padding: 12px 10px;
}
.footer-links ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 20px;
    color: white;
    cursor: pointer;
}

@media(max-width:839px){

    .right-navbar img{
        height: 15px;
        vertical-align: middle;
    }
    .right-navbar ul li{
        padding: 0px 6px;
    }
}
@media(max-width:616px){
    .right-navbar ul li{
        padding: 0px 6px;
    }
    .right-navbar img{
        height: 13px;
        vertical-align: middle;
    }
    .left-navbar img{
        height: 15px;
    }
    .logo img{
        height: 17px;
    }
    .time-container{

        width: 300px;
        font-size: 10px;
        left: 28%;
    }

}
@media(max-width:457px){

    .right-navbar img{
        display: none;
    }
    .logo img,.left-navbar img{

        height: 14px;
        vertical-align: middle;
    }
    .time-container{
       width: 200px;
       font-size: 8px;
       left: 24%;
    }
    #side-bar{
        width: 100%;
        height: 100vh;
        z-index: 1000;
        padding-bottom: 10px;
    }
}

